<?xml version="1.0"?>
<config>
	<modules>
	<PI_Slider>
	    <version>0.3.0</version>
	</PI_Slider>
	</modules>
	<frontend>
	<routers>
	    <slider>
		<use>standard</use>
		<args>
		    <module>PI_Slider</module>
		    <frontName>slider</frontName>
		</args>
	    </slider>
	</routers>
	</frontend>
	<global>
		<resources>
		    <slider_setup>
			<setup>
			    <module>PI_Slider</module>
			</setup>
			<connection>
			    <use>core_setup</use>
			</connection>
		    </slider_setup>
		    <slider_write>
			<connection>
			    <use>core_write</use>
			</connection>
		    </slider_write>
		    <slider_read>
			<connection>
			    <use>core_read</use>
			</connection>
		    </slider_read>
		</resources>
		<models>
		      <slider_adminhtml>
			<class>PI_Slider_Adminhtml_Model</class>
		      </slider_adminhtml>
				<slider>
					<class>PI_Slider_Model</class>
				</slider>
		</models>
		<helpers>
            <slider>
                <class>PI_Slider_Helper</class>
            </slider>
        </helpers>
	</global>
</config>
